html, body {
  font: 12px/1.21 'Helvetica Neue', arial, sans-serif;
  font-weight: 400;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}


h1 {
  text-align: center;
  margin-bottom: 40px;
}

.chat-window {
  width: 400px;
  margin: auto;
  border: 2px solid #eee;
  overflow: auto;
}

.conversation-view {
  width: 100%;
  min-height: 450px;
  padding: 20px 40px;
}

.message-box {
  width: 100%;
  background-color: #d5d5d5;
  padding: 10px 20px;
  overflow: auto;
}


.title span{
  text-align: center;
	font-size: 30px;
	color: grey;
  margin-left: 15px;
}

.avatar{
  float: left;
  margin-left: 6px;
  border-radius: 50%;
}

.boton{
  font-size:24px;
  color:black;
  margin-left: 0px;
  border-radius: 50%;
  background-color: #88A2F0;
  width: 10%;
}


.text-input {
  width: 100%;
  border-radius: 2px;
  border: 1px solid #90;
  padding: 7px;
  min-height:0px;
  font-size:14px;
}


.chat-bubble {
  font-size: 20px;
  margin-bottom: 20px;
  width: 100%;
  display: flex;
}

.chat-bubble.ai {
  justify-content: flex-end;

}
.chat-bubble.ai .chat-content {
  background-color: #88A2F0;
}

.chat-content {
  display: inline-block;
  padding: 5px 15px;
  background-color: #9FF0A9;
  border-radius: 10px;
  overflow:auto;
}

.colum{
		column-count:1;
	}
